body
{
background-size: cover;
}


.heading
{
    margin: 0;
    width: 100%;
    font-size: 25px;
}



#status ,#number_manual
{
    font-size: 20px;
}


.copy_right_footer
{
    bottom: 0;
    text-align: center;
    line-height: 20px;
    background-color: whitesmoke;
    color: lightslategrey;
    position: fixed;
    width: 100%;
}


canvas
{
    box-shadow: 5px 10px 2px cyan;
    border: 4px solid blue;
    border-radius: 20px;
}

#back
{
  background-color: black;
  color: lavender;
  border-radius: 10px;
  float: right;
}

